# --- KADMEIA: SPA routing ---
Options -Multiviews
RewriteEngine On

# 1) Entrega ficheros/directorios reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2) SPA fallback: cualquier otra ruta -> index.html
RewriteRule ^ index.html [L]